CONFIG_BOARD_CHOICE_ESP32=y
CONFIG_BOARD_CHOICE_DNESP32S3=y
CONFIG_DNESP32S3_LCD_MD0430R_RGB=y
CONFIG_ENABLE_LIBLVGL=y
CONFIG_LVGL_VERSION_8=y
CONFIG_ENABLE_LVGL_TP=y
CONFIG_ENABLE_LVGL_DEMO=y
CONFIG_ENABLE_LVGL_MONITOR=y
CONFIG_ENABLE_LVGL_PARTIAL_FLUSH=y
# CONFIG_ENABLE_LVGL_DRAW_BUF_PSRAM is not set
