# Ktuyaconf
config PLATFORM_CHOICE
    string
    default "GD32"

config OPERATING_SYSTEM
    int
    default 98
    ---help---
        100     /* LINUX */
        98      /* RTOS */
        3       /* Non-OS */

rsource "./TKL_Kconfig"
rsource "./OS_SERVICE_Kconfig"

choice
    prompt "Choice a board"

    config BOARD_CHOICE_GD32_MC_FOC_VWS_VW553
        bool "GD32_MC_FOC_VWS_VW553"
        if (BOARD_CHOICE_GD32_MC_FOC_VWS_VW553)
            rsource "./GD32_MC_FOC_VWS_VW553/Kconfig"
        endif

    config BOARD_CHOICE_LCKFB_GD32VM553
        bool "LCKFB_GD32VM553"
        if (BOARD_CHOICE_LCKFB_GD32VM553)
            rsource "./LCKFB_GD32VM553/Kconfig"
        endif

# <new-board-add: This line cannot be deleted or modified>

endchoice
