config ENABLE_LED
    bool "enable led"
    default n

if (ENABLE_LED)
    config LED_NAME
        string "the name of led 1"
        default "led"

    config ENABLE_LED_2
        bool "enable led 2"
        default n

    config LED_NAME_2
        string "the name of led 2"
        default "led2"
        depends on ENABLE_LED_2

    config ENABLE_LED_3
        bool "enable led 3"
        default n
        depends on ENABLE_LED_2

    config LED_NAME_3
        string "the name of led 3"
        default "led3"
        depends on ENABLE_LED_3

    config ENABLE_LED_4
        bool "enable led 4"
        default n
        depends on ENABLE_LED_3

    config LED_NAME_4
        string "the name of led 4"
        default "led4"
        depends on ENABLE_LED_4
endif
