CONFIG_PROJECT_VERSION="0.0.1"                                                                                                                          
CONFIG_BOARD_CHOICE_LINUX=y                                                                                                                             
CONFIG_BOARD_CHOICE_UBUNTU=y                                                                                                                            
CONFIG_ENABLE_LIBLVGL=y                                                                                                                                 
CONFIG_LVGL_PC_SIMULATOR=y