config CHIP_CHOICE
    string
    default "gd32vw553"

config BOARD_CHOICE
    string
    default "LCKFB_GD32VM553"

config BOARD_CONFIG
    bool
    default y
    select ENABLE_LED
    select ENABLE_BUTTON