CONFIG_PROJECT_VERSION="1.0.1"
CONFIG_TUYA_PRODUCT_ID="alon7qgyjj8yus74"
CONFIG_ENABLE_COMP_AI_AUDIO_CODEC_OPUS=y
CONFIG_ENABLE_COMP_AI_VIDEO=y
CONFIG_ENABLE_COMP_AI_PICTURE=y
CONFIG_ENABLE_AI_UI_TEXT_STREAMING=y
CONFIG_BUTTON_NAME="ai_chat_button"
CONFIG_BOARD_CHOICE_T5AI=y
CONFIG_BOARD_CHOICE_LCKFB_T5AI_TOUCH=y
CONFIG_ENABLE_AUDIO_AEC=n
CONFIG_LCKFB_T5AI_TOUCH_LCD_ST7789_240X320=y
CONFIG_LCKFB_T5AI_TOUCH_CAMERA=y
CONFIG_LCKFB_T5AI_TOUCH_SDIO=y
CONFIG_LCKFB_T5AI_TOUCH_SC7A20=y
CONFIG_COMP_AI_VIDEO_WIDTH=640
CONFIG_COMP_AI_VIDEO_HEIGHT=480
CONFIG_COMP_AI_VIDEO_FPS=15
CONFIG_AI_INPUT_STACK_SIZE=28672
CONFIG_ENABLE_MBEDTLS_SSL_MAX_CONTENT_LEN=4096
CONFIG_ENABLE_LVGL_TP=y
CONFIG_DISPLAY_DEFAULT_BRIGHTNESS=80
