CONFIG_PROJECT_VERSION="1.0.1"
CONFIG_TUYA_PRODUCT_ID="lased5audtah8wcp"
CONFIG_ENABLE_COMP_AI_PICTURE=y
CONFIG_COMP_AI_PICTURE_DEF_OUTPIUT_WIDTH=368
CONFIG_COMP_AI_PICTURE_DEF_OUTPIUT_HEIGHT=448
CONFIG_AI_UI_WECHAT_SCREEN_CORNER_RADIUS=36
CONFIG_BUTTON_NAME="ai_chat_button"
CONFIG_BOARD_CHOICE_ESP32=y
CONFIG_BOARD_CHOICE_WAVESHARE_ESP32_S3_TOUCH_AMOLED_1_8=y
CONFIG_ENABLE_LVGL_TP=y