# 火山引擎 Ark API Token(从 4 个中任选其一填入,遇限流可切换)
# 切勿提交到 Git / 公开仓库 / 截图 / 日志
ARK_API_KEY=在这里粘贴所选_Token

# PandaData SDK 认证:username = 86 + 官网注册手机号;password = 官网密码
PANDA_USERNAME=86你的手机号
PANDA_PASSWORD=你的官网密码
